<h2><%= @list.name %></h2>


<% @list.movies.each do |movie|  %>
  <%= movie.title %>
  <img alt="Poster" width="200" src="<%= movie.poster_url %>">
  <%= movie.rating %>
<% end %>

<%= link_to "Back to all lists", lists_path %>
